
<nav>
  <div class="navbar">
    <div class="logo">
      <a title="SpaceX Logo" class="navbar-brand" href="/home"><img src="./images/fullLogo.png" alt=""></a>
    </div>
    <div class="navbar-nav">
      <a class="nav-link" href="/falcon9">FALCON 9</a>
      <a class="nav-link" href="/falconheavy">FALCON HEAVY</a>
      <a class="nav-link" href="/dragon">DROGAN</a>
      <a class="nav-link" href="/starship">STARSHIP</a>
      <a class="nav-link" href="/humanspaceflight">HUMAN SPACEFLITE</a>
      <a class="nav-link" href="/rideshare">RIDESHARE</a>
      <a class="nav-link" href="/starshield">STARSHIELD</a>
      <a class="nav-link" href="/starlink">STARLINK</a>
    </div>
    <div class="navbar-nav menu">
      <a class="nav-link" href="#">SHOP</a>
            <a href="#" class="nav-link"><i class="fa-solid fa-bars"></i></a>
    </div>
  </div>
</nav>