<% layout('/layouts/boilerPlate.ejs') -%>
<title>SpaceX Falcon - Heavy</title>
<style>.heropage{
  background-image: url(/images/fh_feature.jpg);}
</style>
<link rel="stylesheet" href="style copy.css">
<body>
  <div class="heropage">
    <%- include('../includes/navbar.ejs') %>
    <div class='console-container'>
      <div class='title'>FALCON HEAVY</div><br>
      <div class='subtitle'>Over 5 Million Lbs of Thrust</div>
    </div>
  </div>
  <%- include('../includes/footer.ejs') %>
</body>