<% layout('/layouts/boilerPlate.ejs') -%>
<title>SpaceX - StarLink</title>
<style>
  .heropage{
    background-image: url(/images/starlink.webp);
  }
</style>
<link rel="stylesheet" href="style copy.css">
<body>
  <div class="heropage">
    <%- include('../includes/navbar.ejs') %>
    <div class='console-container'>
      <div class='title' style="font-size: 4rem;">HIGH-SPEED INTERNET AROUND THE WORLD</div>
      <br>
      <!-- <div class='title'>AROUND THE WORLD</div><br> -->
      <div class='subtitle'>Connect at home or on the go.</div>
    </div>
  </div>
  <%- include('../includes/footer.ejs') %>
</body>
