<% layout('/layouts/boilerPlate') -%>
<link rel="stylesheet" href="/style.css">

<title>SpaceX - Updates</title>
<body>
  <div class="LM-heropage heropage">
    <nav>
      <div class="navbar">
        <div class="logo">
          <a title="SpaceX Logo" class="navbar-brand" href="/home"><img src="/images/fullLogo.png" alt=""></a>
        </div>
        <div class="navbar-nav">
          <a class="nav-link" href="/falcon9">FALCON 9</a>
            <a class="nav-link" href="falconheavy">FALCON HEAVY</a>
            <a class="nav-link" href="/dragon">DROGAN</a>
            <a class="nav-link" href="/starship">STARSHIP</a>
            <a class="nav-link" href="/humanspaceflight">HUMAN SPACEFLITE</a>
            <a class="nav-link" href="/rideshare">RIDESHARE</a>
            <a class="nav-link" href="/starshield">STARSHIELD</a>
            <a class="nav-link" href="/starlink">STARLINK</a>
        </div>
        <div class="navbar-nav menu">
          <a class="nav-link" href="#">SHOP</a>
          <a href="#" class="nav-link"><i class="fa-solid fa-bars"></i></a>
        </div>
      </div>
    </nav>
    <div class="update">UPDATES</div>
    <div class="down">
      <div class="icon">
        <i class="fa-solid fa-angle-down fa-fade"></i>
      </div>
    </div>
  </div>
  <div class="row" id="info-1">
    <div class="rowImg rowImg1"></div>
    <div class="content">
      <div class="date">August 12, 2024</div>
      <div class="lable">First Human Spaceflight to Fly Over Earth’s Polar Regions</div>
      <div class="para">
        <p>In the past four years, SpaceX has launched thirteen human spaceflight missions, safely flying 50 crewmembers to and from Earth’s orbit and creating new opportunities for humanity to live, work, and explore what is possible in space. Dragon’s 46 missions overall to orbit have delivered critical supplies, scientific research, and astronauts to the International Space Station, while also opening the door for commercial astronauts to explore Earth’s orbit.</p>
        <p>As early as this year, Falcon 9 will launch Dragon’s sixth commercial astronaut mission, Fram2, which will be the first human spaceflight mission to explore Earth from a polar orbit and fly over the Earth’s polar regions for the first time. Named in honor of the ship that helped explorers first reach Earth’s Arctic and Antarctic regions, Fram2 will be commanded by Chun Wang, an entrepreneur and adventurer from Malta. Wang aims to use the mission to highlight the crew’s explorational spirit, bring a sense of wonder and curiosity to the larger public, and highlight how technology can help push the boundaries of exploration of Earth and through the mission’s research.</p>
        <p>Joining Wang on the mission is a crew of international adventurers: Norway’s Jannicke Mikkelsen, vehicle commander; Australia’s Eric Philips, vehicle pilot; and Germany’s Rabea Rogge, mission specialist. This will be the first spaceflight for each of the crewmembers.</p>
        <p>Throughout the 3-to-5-day mission, the crew plans to observe Earth’s polar regions through Dragon’s cupola at an altitude of 425 – 450 km, leveraging insight from space physicists and citizen scientists to study unusual light emissions resembling auroras. The crew will study green fragments and mauve ribbons of continuous emissions comparable to the phenomenon known as STEVE (Strong Thermal Emission Velocity Enhancement), which has been measured at an altitude of approximately 400 - 500 km above Earth’s atmosphere. The crew will also work with SpaceX to conduct a variety of research to better understand the effects of spaceflight on the human body, which includes capturing the first human x-ray images in space, Just-in-Time training tools, and studying the effects of spaceflight on behavioral health, all of which will help in the development of tools needed to prepare humanity for future long-duration spaceflight.</p>
        <p>Falcon 9 will launch Fram2 to a polar orbit from Florida no earlier than late 2024.</p>
        <hr>
      </div>
    </div>
    
  </div>
  <div class="row" id="info-2">
    <div class="rowImg rowImg2"></div>
    <div class="content">
      <div class="date">May 4, 2024</div>
      <div class="lable">THE EXTRAVEHICULAR ACTIVITY (EVA) SUIT</div>
      <div class="para">
        <p>In February 2022, Jared Isaacman and SpaceX announced the Polaris Program, an effort designed to rapidly advance human spaceflight capabilities, while also supporting important causes here on Earth.</p>
        <p>Polaris Dawn, the first of the program’s three human spaceflight missions, is targeted to launch to orbit no earlier than summer 2024. During the five-day mission, the crew will perform SpaceX’s first-ever Extravehicular Activity (more commonly known as an EVA or spacewalk) from Dragon, which will also be the first-ever commercial astronaut spacewalk. This historic milestone will also be the first time four astronauts will be exposed to the vacuum of space at the same time.</p>
        <p>Supporting the crew throughout the spacewalk will be SpaceX’s newly-developed EVA suit, an evolution of the Intravehicular Activity (IVA) suit crews currently wear aboard Dragon human spaceflight missions. Developed with mobility in mind, SpaceX teams incorporated new materials, fabrication processes, and novel joint designs to provide greater flexibility to astronauts in pressurized scenarios while retaining comfort for unpressurized scenarios. The 3D-printed helmet incorporates a new visor to reduce glare during the EVA in addition to the new Heads-Up Display (HUD) and camera that provide information on the suit’s pressure, temperature, and relative humidity. The suit also incorporates enhancements for reliability and redundancy during a spacewalk, adding seals and pressure valves to help ensure the suit remains pressurized and the crew remains safe.</p>
        <p>All of these enhancements to the EVA suit are part of a scalable design, allowing teams to produce and scale to different body types as SpaceX seeks to create greater accessibility to space for all of humanity.</p>
        <p>While Polaris Dawn will be the first time the SpaceX EVA suit is used in low-Earth orbit, the suit’s ultimate destiny lies much farther from our home planet. Building a base on the Moon and a city on Mars will require the development of a scalable design for the millions of spacesuits required to help make life multiplanetary.</p>
        <hr>
      </div>
    </div>
  </div>
  <div class="row" id="info-3">
    <div class="rowImg rowImg3"></div>
    <div class="content">
      <div class="date">April 6, 2024</div>
      <div class="lable">TO MAKE LIFE MULTIPLANETARY</div>
      <div class="para">
        <p>The goal of SpaceX is to build the technologies necessary to make life multiplanetary. This is the first time in the 4-billion-year history of Earth that it’s possible to realize that goal and protect the light of consciousness.</p>
        <p>At Starbase on Thursday, April 4, SpaceX Chief Engineer Elon Musk provided an update on the company’s plans to send humanity to Mars, the best destination to begin making life multiplanetary.</p>
        <p>All of SpaceX’s current programs, including Falcon, Dragon, Starlink, and Starship are integral to developing the technologies necessary to make missions to Mars a reality. The update included near-term priorities for Starship that will unlock its ability to be fully and rapidly reusable, the core enabler for transforming humanity’s ability to send large amounts of payload to orbit and beyond. With more flight tests, significant vehicle upgrades, and missions returning astronauts to the surface of the Moon with NASA’s Artemis Program all coming soon, excitement will continue to be guaranteed with Starship.
        </p>
        <p>The talk also includes the mechanics and challenges of traveling to Mars, along with what we’re building today to enable sending around a million people and several million tonnes to the Martian surface in the years to come.</p>
        <hr>
      </div>
    </div>
  </div>
</body>